/* Base */

body {
  color               : gray;
  background-image    : url("../images/polygon(1).png");
  background-repeat   : no-repeat;
  background-position : -500px -1585px;
  font-family         : "Roboto",
                        -apple-system,
                        BlinkMacSystemFont,
                        "Segoe UI",
                        Roboto,
                        "Helvetica Neue",
                        Arial,
                        "Noto Sans",
                        sans-serif,
                        "Apple Color Emoji",
                        "Segoe UI Emoji",
                        "Segoe UI Symbol",
                        "Noto Color Emoji";
  font-size           : 1rem;
  font-weight         : 300;
  line-height         : 1.7;
}

::-moz-selection {
  color      : #fff;
  background : #000;
}

::selection {
  color      : #fff;
  background : #000;
}

@font-face {
    font-family: "desire";
    src: url("/fonts/desire/DesirePro.otf");
}

.desire {
    font-family: "desire";
}

a {
  -o-transition      : .3s all ease;
  -webkit-transition : .3s all ease;
  transition         : .3s all ease;
}

a:hover {
  text-decoration : none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color : #000;
}

.serif {
  font-family : "Oswald",
                sans-serif !important;
}

.position-relative {
  position : relative !important;
}

.overflow-hidden {
  overflow : hidden;
}

.text-black {
  color : #000 !important;
}

.text-pantone {
  color: #006767 !important;
}

.bg-black {
  background : #000 !important;
}

.squid-norm {
  background-image    : url("../images/octopus.png");
  background-repeat   : no-repeat;
}

.squid {
  -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
  background-image    : url("../images/octopus.png");
  background-repeat   : no-repeat;
}

.squid .container {
-webkit-transform:scaleY(-1);
-moz-transform:scaleY(-1);
-ms-transform:scaleY(-1);
-o-transform:scaleY(-1);
transform:scaleY(-1);
}

.squid-reverse {
  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    background-image    : url("../images/octopus.png");
    background-repeat   : no-repeat;
}

.squid-reverse .container {
-webkit-transform:scaleX(-1);
-moz-transform:scaleX(-1);
-ms-transform:scaleX(-1);
-o-transform:scaleX(-1);
transform:scaleX(-1);

}

.bg-pantone {
  background-color : #006767;
}

.site-wrap:before {
  z-index            : 2000;
  content            : "";
  visibility         : hidden;
  position           : absolute;
  top                : 0;
  right              : 0;
  bottom             : 0;
  left               : 0;
  opacity            : 0;
  -o-transition      : .3s all ease-in-out;
  -webkit-transition : .3s all ease-in-out;
  transition         : .3s all ease-in-out;
}

.offcanvas-menu .site-wrap {
  z-index  : 2;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}

.offcanvas-menu .site-wrap:before {
  visibility : visible;
  opacity    : 1;
}

.offcanvas-menu {
  position : relative;
}

.offcanvas-menu:after {
  z-index    : 21;
  content    : "";
  position   : absolute;
  top        : 0;
  top        : 0;
  right      : 0;
  left       : 0;
  background : rgba(0, 0, 0, 0.2);
}

.btn {
  border-width  : 2px;
  border-radius : 30px;
}

.btn:active,
.btn:focus {
  outline            : none;
  -webkit-box-shadow : none !important;
  box-shadow         : none !important;
}

.btn.btn-lg {
  padding   : 10px 20px;
  font-size : 16px;
}

.btn.btn-primary {
  color : #fff;
}

.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  color            : #1C63FB !important;
  border-color     : #1C63FB !important;
  background-color : transparent !important;
}

.btn.btn-white {
  border     : 2px solid transparent;
  background : #fff;
}

.btn.btn-white:hover {
  color      : #fff;
  border     : 2px solid #fff;
  background : transparent;
}

.btn.btn-outline-primary {
  color            : #1C63FB;
  border-color     : #1C63FB !important;
  background-color : transparent !important;
}

.btn.btn-outline-primary:active,
.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:hover {
  color            : #fff !important;
  border-color     : #1C63FB !important;
  background-color : #1C63FB !important;
}

.btn.btn-md {
  padding : 14px 30px;
}

.bg-black {
  background : #000;
}

.form-control {
  height        : 47px;
  border        : 1px solid #f6f6f6;
  border-radius : 30px;
  background    : #f6f6f6;
}

.form-control:active,
.form-control:focus {
  border-color : #1C63FB;
}

.form-control:active,
.form-control:focus,
.form-control:hover {
  -webkit-box-shadow : none !important;
  box-shadow         : none !important;
}

.site-section {
  padding : 4.5em 0;
}

@media
  (min-width : 768px) {
  .site-section {
    padding : 7em 0;
  }
}

.site-section.site-section-sm {
  padding : 4em 0;
}

.site-section-heading {
  position  : relative;
  color     : #dee2e6;
  font-size : 30px;
}

.site-section-heading:before {
  content    : "";
  position   : absolute;
  top        : 0;
  left       : 0%;
  width      : 40px;
  height     : 2px;
  background : #1C63FB;
}

.site-section-heading.text-center:before {
  content           : "";
  position          : absolute;
  top               : 0;
  left              : 50%;
  width             : 40px;
  height            : 2px;
  background        : #1C63FB;
  -ms-transform     : translateX(-50%);
  -webkit-transform : translateX(-50%);
  transform         : translateX(-50%);
}

.border-top {
  border-top : 1px solid #ced4da !important;
}

.site-footer {
  padding-top    : 17rem;
  padding-bottom : 4rem;
  /* background     : #333333; */
}

.site-footer p {
  color : #006767;
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
  color : #006767;
}

.site-footer a {
  color : #006767;
}

.site-footer a:hover {
  color : black;
}

.site-footer ul li {
  margin-bottom : 10px;
}

.site-footer .footer-heading {
  color     : #006767;
  font-size : 20px;
}

.bg-text-line {
  display            : inline;
  background         : #000;
  -webkit-box-shadow : 20px 0 0 #000,
                       -20px 0 0 #000;
  box-shadow         : 20px 0 0 #000,
                       -20px 0 0 #000;
}

.bg-image {
  overflow          : hidden;
  background-repeat : no-rpeeat;
  background-size   : cover;
}

.bg-image.center {
  background-position : top center;
}

.bg-image.fixed {
  background-position : fixed !important;
}

.bg-image.overlay,
.bg-image.overlay-info,
.bg-image.overlay-primary,
.bg-image.overlay-success,
.bg-image.overlay-warning {
  position : relative;
}

.bg-image.overlay-info:before,
.bg-image.overlay-primary:before,
.bg-image.overlay-success:before,
.bg-image.overlay-warning:before,
.bg-image.overlay:before {
  content  : "";
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
}

.bg-image.overlay:before {
  background : rgba(0, 0, 0, 0.4);
}

.bg-image.overlay-primary:before {
  background : rgba(28, 99, 251, 0.9);
}

.bg-image.overlay-info:before {
  background : rgba(47, 240, 193, 0.9);
}

.bg-image.overlay-success:before {
  background : rgba(40, 167, 69, 0.9);
}

.bg-image.overlay-success:before {
  background : rgba(255, 193, 7, 0.9);
}

/* Navbar */

.site-navbar-wrap {
  z-index           : 99;
  position          : relative;
  left              : 0;
  width             : 100%;
}

.site-navbar-wrap a {
  color : #000;
}

.site-navbar-wrap .site-navbar-top {
  font-size : 0.8rem;
}

.site-navbar-top {
  border-bottom : 1px solid rgba(0, 0, 0, 0.05);
}

.site-navbar {
  width         : 100%;
  margin-bottom : 0px;
  padding       : 15px 0;
}

.site-navbar .site-logo {
  position    : relative;
  font-weight : 200;
  line-height : 0;
}

.site-navbar .site-logo a {
  color       : #fff;
  font-size   : 2rem;
  font-weight : 200;
  font-weight : bold;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom : 0;
}

.site-navbar .site-navigation .site-menu a {
  display         : inline-block;
  text-decoration : none !important;
  font-weight     : 500;
}

.site-navbar .site-navigation .site-menu > li {
  display : inline-block;
  padding : 10px 5px;
}

.site-navbar .site-navigation .site-menu > li > a {
  padding         : 20px 10px;
  color           : white;
  text-decoration : none !important;
  font-size       : 15px;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
  color : #fff;
}

.site-navbar .site-navigation .site-menu > li:last-child {
  padding-right : 0;
}

.site-navbar .site-navigation .site-menu > li:last-child > a {
  padding-right : 0;
}

.site-navbar .site-navigation .site-menu .has-children {
  position : relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
  position      : relative;
  padding-right : 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
  content           : "\e313";
  position          : absolute;
  top               : 50%;
  right             : 0;
  font-family       : 'icomoon';
  font-size         : 16px;
  -ms-transform     : translateY(-50%);
  -webkit-transform : translateY(-50%);
  transform         : translateY(-50%);
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility         : hidden;
  position           : absolute;
  top                : 100%;
  margin-top         : 20px;
  margin-left        : 0px;
  padding            : 0px 0;
  opacity            : 0;
  border-radius      : 4px;
  background         : #fff;
  -webkit-box-shadow : 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow         : 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  text-align         : left;
  -o-transition      : 0.2s 0s;
  -webkit-transition : 0.2s 0s;
  transition         : 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position : absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  content        : " ";
  position       : absolute;
  bottom         : 100%;
  left           : 20%;
  width          : 0;
  height         : 0;
  border         : solid transparent;
  pointer-events : none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  margin-left         : -10px;
  border-color        : rgba(136, 183, 213, 0);
  border-bottom-color : #fff;
  border-width        : 10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  color              : #343a40;
  text-transform     : none;
  font-size          : 14px;
  letter-spacing     : normal;
  -o-transition      : 0s all;
  -webkit-transition : 0s all;
  transition         : 0s all;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color : #1C63FB;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color : #fff !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  min-width  : 200px;
  margin     : 0;
  padding    : 0;
  list-style : none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li:first-child > a {
  border-top-left-radius  : 4px;
  border-top-right-radius : 4px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li:last-child > a {
  border-bottom-right-radius : 4px;
  border-bottom-left-radius  : 4px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  display : block;
  padding : 9px 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  color      : #212529;
  background : #ebeef0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content : "\e315";
  right   : 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  top  : 0;
  left : 100%;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a {
  color      : #212529;
  background : #ebeef0;
}

.site-navbar .site-navigation .site-menu .has-children:active > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:hover > a {
  color : #fff;
}

.site-navbar .site-navigation .site-menu .has-children:active,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:hover {
  cursor : pointer;
}

.site-navbar .site-navigation .site-menu .has-children:active > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown {
  visibility               : visible;
  margin-top               : 0px;
  opacity                  : 1;
  -o-transition-delay      : 0s;
  -webkit-transition-delay : 0s;
  transition-delay         : 0s;
}

.site-mobile-menu {
  z-index            : 2000;
  position           : fixed;
  right              : 0;
  width              : 300px;
  height             : calc(100vh);
  padding-top        : 20px;
  background         : #fff;
  -webkit-box-shadow : -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow         : -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -ms-transform      : translateX(110%);
  -webkit-transform  : translateX(110%);
  transform          : translateX(110%);
  -o-transition      : .3s all ease-in-out;
  -webkit-transition : .3s all ease-in-out;
  transition         : .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -ms-transform     : translateX(0%);
  -webkit-transform : translateX(0%);
  transform         : translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width         : 100%;
  float         : left;
  padding-right : 20px;
  padding-left  : 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float      : right;
  margin-top : 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  display            : inline-block;
  padding-right      : 0px;
  padding-left       : 10px;
  font-size          : 30px;
  line-height        : 1;
  -o-transition      : .3s all ease;
  -webkit-transition : .3s all ease;
  transition         : .3s all ease;
  cursor             : pointer;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color : #dee2e6;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float       : left;
  margin-top  : 10px;
  margin-left : 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display        : inline-block;
  text-transform : uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width : 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration : none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y : scroll;
}

.site-mobile-menu .site-nav-wrap {
  position   : relative;
  margin     : 0;
  padding    : 0;
  list-style : none;
}

.site-mobile-menu .site-nav-wrap a {
  display  : block;
  position : relative;
  padding  : 10px 20px;
  color    : #212529;
}

.site-mobile-menu .site-nav-wrap a.active,
.site-mobile-menu .site-nav-wrap a:hover {
  color : #1C63FB;
}

.site-mobile-menu .site-nav-wrap li {
  display  : block;
  position : relative;
}

.site-mobile-menu .site-nav-wrap li.active > a {
  color : #1C63FB;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  z-index       : 20;
  position      : absolute;
  top           : 10px;
  right         : 0px;
  width         : 36px;
  height        : 36px;
  border-radius : 50%;
  text-align    : center;
  cursor        : pointer;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background : #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  z-index            : 20;
  content            : "\f078";
  position           : absolute;
  top                : 50%;
  left               : 50%;
  font-family        : "icomoon";
  font-size          : 12px;
  -ms-transform      : translate(-50%, -50%) rotate(-180deg);
  -webkit-transform  : translate(-50%, -50%) rotate(-180deg);
  transform          : translate(-50%, -50%) rotate(-180deg);
  -o-transition      : .3s all ease;
  -webkit-transition : .3s all ease;
  transition         : .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -ms-transform     : translate(-50%, -50%);
  -webkit-transform : translate(-50%, -50%);
  transform         : translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display  : block;
  position : relative;
  width    : 100%;
  float    : left;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left : 20px;
  font-size    : 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display : block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left : 40px;
  font-size    : 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  margin  : 0;
  padding : 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display : block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  padding-left : 60px;
  font-size    : 16px;
}

.sticky-wrapper {
  z-index : 100;
  width   : 100%;
}

.sticky-wrapper + .site-blocks-cover {
  margin-top : 140px;
}

.sticky-wrapper .site-navbar {
  -o-transition      : .3s all ease;
  -webkit-transition : .3s all ease;
  transition         : .3s all ease;
}

.sticky-wrapper .site-navbar a.active {
  color : #fff;
}

.sticky-wrapper.is-sticky .site-navbar {
  background-color   : #fff;
  -webkit-box-shadow : 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow         : 4px 0 20px -5px rgba(0, 0, 0, 0.1);
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color : #000;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li {
  display : inline-block;
  padding : 10px 5px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li:last-child {
  padding-right : 0;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li:last-child > a {
  padding-right : 0;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li.has-children > a {
  padding-right : 20px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a {
  padding   : 10px 10px;
  color     : rgba(0, 0, 0, 0.6);
  font-size : 15px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a.active {
  color : #1C63FB;
}

.sticky-wrapper .shrink {
  padding-top    : 0px !important;
  padding-bottom : 0px !important;
}

/* Blocks */

.site-blocks-cover {
  position              : relative;
  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : top;
  background-size       : cover;
}

.site-blocks-cover.overlay {
  position : relative;
}

.site-blocks-cover.overlay:before {
  content    : "";
  position   : absolute;
  top        : 0;
  right      : 0;
  bottom     : 0;
  left       : 0;
  background : rgba(0, 0, 0, 0.2);
}

.site-blocks-cover,
.site-blocks-cover > .container > .row {
  height     : calc(100vh);
  min-height : 600px;
}

.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page > .container > .row {
  height     : calc(80vh);
  min-height : 600px;
}

.site-blocks-cover h1 {
  text-transform : uppercase;
  font-size      : 8rem;
  font-weight    : 900;
  line-height    : 1;
}

@media
  (max-width : 991.98px) {
  .site-blocks-cover h1 {
    font-size : 4rem;
  }
}

.site-blocks-cover .sub-text {
  color       : gray;
  font-size   : 1.4rem;
  font-weight : 300;
}

@media
  (max-width : 991.98px) {
  .site-blocks-cover .sub-text {
    color : #000;
  }
}

.site-blocks-cover .img-wrap {
  z-index                    : -1;
  z-index                    : 2;
  position                   : absolute;
  top                        : 0;
  right                      : 50%;
  width                      : calc(100% - 50%);
  height                     : 100%;
  min-height                 : 600px;
  overflow                   : hidden;
  border-bottom-right-radius : 200px;
}

@media
  (max-width : 991.98px) {
  .site-blocks-cover .img-wrap {
    top   : 0;
    right : 0%;
    width : 100%;
  }

  .site-blocks-cover .img-wrap .hero-slider:before {
    z-index    : 2;
    content    : "";
    position   : absolute;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    opacity    : .5;
    background : #fff;
  }
}

.site-blocks-cover .img-wrap .slide {
  position : relative;
  height   : 100vh;
}

.site-blocks-cover .img-wrap .slide img {
  position : absolute;
  top      : 0;
  width    : 100%;
  height   : 100%;
}

.site-blocks-cover .intro {
  z-index  : 3;
  position : relative;
}

.site-blocks-cover .intro .heading {
  margin-left : -150px;
}

@media
  (max-width : 991.98px) {
  .site-blocks-cover .intro .heading {
    margin-left : 0;
  }
}

.site-blocks-cover .intro .text {
  padding-left : 50px;
}

@media
  (max-width : 991.98px) {
  .site-blocks-cover .intro .text {
    padding-left : 0;
  }
}

.heading {
  position       : relative;
  margin-bottom  : 30px;
  padding-bottom : 30px;
  text-transform : uppercase;
  font-family    : "Oswald",
                   sans-serif;
}

.heading:after {
  content    : "";
  position   : absolute;
  bottom     : 0;
  left       : 0;
  width      : 50px;
  height     : 2px;
  background : #1C63FB;
}

.site-menu-toggle .menu-text {
  position       : relative;
  top            : -6px;
  text-transform : uppercase;
}

.hero-slider .owl-nav {
  z-index  : 100;
  position : absolute;
  right    : 50px;
  bottom   : 120px;
}

.hero-slider .owl-nav .owl-next,
.hero-slider .owl-nav .owl-prev {
  width         : 50px;
  height        : 50px;
  margin-bottom : 10px;
  color         : #fff;
  border-radius : 50%;
  background    : #1C63FB;
  text-align    : center;
  font-size     : 1.3rem;
  line-height   : 50px;
}

.section-title .sub-title {
  color          : #b3b3b3;
  text-transform : uppercase;
  font-size      : .75rem;
  font-weight    : 400;
  letter-spacing : .2rem;
}

.section-title .title {
  font-size : 2.2rem;
}

.service {
  position           : relative;
  top                : 0;
  padding            : 30px;
  border             : 1px solid #eee;
  border-top         : 2px solid #1C63FB;
  background         : #fff;
  -o-transition      : .3s all ease-in-out;
  -webkit-transition : .3s all ease-in-out;
  transition         : .3s all ease-in-out;
}

.service:focus,
.service:hover {
  top                : -2px;
  border             : 1px solid transparent;
  border-top         : 2px solid #1C63FB;
  -webkit-box-shadow : 0 10px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow         : 0 10px 30px -10px rgba(0, 0, 0, 0.4);
}

.service *:last-child {
  margin-bottom : 0;
}

.service h3 {
  color     : #000;
  font-size : 1rem;
}

.service p {
  color : #999999;
}

.service .wrap-icon {
  display       : block;
  position      : relative;
  width         : 60px;
  height        : 60px;
  margin-bottom : 30px;
  border        : 1px solid #1C63FB;
  border-radius : 50%;
}

.service .wrap-icon > span {
  position          : absolute;
  top               : 50%;
  left              : 50%;
  color             : #1C63FB;
  font-size         : 30px;
  -ms-transform     : translate(-50%, -50%);
  -webkit-transform : translate(-50%, -50%);
  transform         : translate(-50%, -50%);
}

.readmore {
  position           : relative;
  padding-right      : 20px;
  text-transform     : uppercase;
  font-size          : .75rem;
  font-weight        : 900;
  letter-spacing     : .1rem;
  -o-transition      : .3s all ease;
  -webkit-transition : .3s all ease;
  transition         : .3s all ease;
}

.readmore:after {
  content            : "\e5c8";
  visibility         : hidden;
  position           : absolute;
  top                : 50%;
  right              : 0;
  opacity            : 0;
  font-family        : 'icomoon';
  -ms-transform      : translateY(-50%);
  -webkit-transform  : translateY(-50%);
  transform          : translateY(-50%);
  -o-transition      : .3s all ease;
  -webkit-transition : .3s all ease;
  transition         : .3s all ease;
}

.readmore:hover {
  padding-right : 30px;
}

.readmore:hover:after {
  visibility : visible;
  opacity    : 1;
}

.custom-progress {
  height : 7px;
}

.custom-progress .progress-bar {
  border-radius : 30px;
}

.ul-check {
  margin-bottom : 50px;
}

.ul-check li {
  position      : relative;
  margin-bottom : 15px;
  padding-left  : 35px;
  line-height   : 1.5;
}

.ul-check li:before {
  content     : "\e5ca";
  position    : absolute;
  top         : -.3rem;
  left        : 0;
  font-family : "icomoon";
  font-size   : 20px;
}

.ul-check.white li:before {
  color : #fff;
}

.ul-check.success li:before {
  color : #28a745;
}

.ul-check.primary li:before {
  color : #1C63FB;
}

.item {
  margin-bottom : 30px;
  border        : none;
  border-radius : 4px;
}

.item a {
  display       : block;
  position      : relative;
  overflow      : hidden;
  border-radius : 4px;
}

.item a img {
  position           : relative;
  -ms-transform      : scale(1);
  -webkit-transform  : scale(1);
  transform          : scale(1);
  -o-transition      : .3s all ease-in-out;
  -webkit-transition : .3s all ease-in-out;
  transition         : .3s all ease-in-out;
}

.item .item-wrap {
  display  : block;
  position : relative;
}

.item .item-wrap:after {
  z-index            : 2;
  content            : "";
  visibility         : hidden;
  position           : absolute;
  top                : 0;
  right              : 0;
  bottom             : 0;
  left               : 0;
  opacity            : 0;
  background         : rgba(0, 0, 0, 0.4);
  -o-transition      : .3s all ease-in-out;
  -webkit-transition : .3s all ease-in-out;
  transition         : .3s all ease-in-out;
}

.item .item-wrap > span {
  z-index            : 3;
  visibility         : hidden;
  position           : absolute;
  top                : 50%;
  left               : 50%;
  color              : #fff;
  opacity            : 0;
  font-size          : 1.7rem;
  -ms-transform      : translate(-50%, -50%) scale(0);
  -webkit-transform  : translate(-50%, -50%) scale(0);
  transform          : translate(-50%, -50%) scale(0);
  -o-transition      : .3s all ease;
  -webkit-transition : .3s all ease;
  transition         : .3s all ease;
}

.item .item-wrap:hover:after {
  visibility : visible;
  opacity    : 1;
}

.item .item-wrap:hover span {
  visibility        : visible;
  margin-top        : 0px;
  opacity           : 1;
  -ms-transform     : translate(-50%, -50%) scale(1);
  -webkit-transform : translate(-50%, -50%) scale(1);
  transform         : translate(-50%, -50%) scale(1);
}

.item:hover a img {
  -ms-transform      : scale(1.05);
  -webkit-transform  : scale(1.05);
  transform          : scale(1.05);
  -o-transition      : .3s all ease-in-out;
  -webkit-transition : .3s all ease-in-out;
  transition         : .3s all ease-in-out;
}

.contact-form {
  position           : relative;
  margin-bottom      : -15em;
  padding            : 30px;
  background         : #fff;
  -webkit-box-shadow : 0 10px 50px -10px rgba(0, 0, 0, 0.1);
  box-shadow         : 0 10px 50px -10px rgba(0, 0, 0, 0.1);
}

.jm-sticky-top {
  position : -webkit-sticky;
  position : sticky;
  top      : 7em;
}

.twitter,
.twitter:hover {
  color : #1da1f2;
}

.facebook,
.facebook:hover {
  color : #3b5998;
}

.instagram,
.instagram:hover {
  color : #c13584;
}

.dribbble,
.dribbble:hover {
  color : #ea4c89;
}

.github,
.github:hover {
  color : #333;
}

.linkedin,
.linkedin:hover {
  color : #0077b5;
}

.person h3 {
  font-size : 1.2rem;
}

.testimonial {
  padding            : 30px;
  color              : #000;
  -webkit-box-shadow : 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow         : 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  font-style         : italic;
  line-height        : 1.7;
}

.testimonial .vcard figure {}

.testimonial .vcard figure img {
  border-radius : 50%;
}

.testimonial .vcard .vcard-text {
  font-style  : normal;
  font-weight : 400;
  line-height : 1.2;
}

.testimonial .vcard .vcard-text .position {
  color : #b3b3b3;
}

.testimonial strong {
  padding     : .3rem 0;
  background  : #faf5bb;
  font-weight : 400;
}

.form-subscribe .form-control {
  color        : #fff;
  border-color : #333333 !important;
  background   : #4d4d4d !important;
}

.form-subscribe .form-control:active,
.form-subscribe .form-control:focus {
  border-color : gray !important;
}

.form-subscribe .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color      : #ccc;
  font-style : italic;
}

.form-subscribe .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color      : #ccc;
  font-style : italic;
}

.form-subscribe .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color      : #ccc;
  font-style : italic;
}

.form-subscribe .form-control:-moz-placeholder {
  /* Firefox 18- */
  color      : #ccc;
  font-style : italic;
}

.author .bg-img {
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : cover;
}

@media
  (max-width : 991.98px) {
  .author .bg-img {
    height : 400px;
  }
}

.author > div {
  width   : 50%;
  padding : 2rem;
}

@media
  (max-width : 991.98px) {
  .author > div {
    width : 100%;
  }
}

.author .text {
  padding : 7rem;
}

@media
  (max-width : 991.98px) {
  .author .text {
    padding : 30px;
  }
}

.author .text h3 {
  margin-bottom : 50px;
}

.slide-one-item .owl-dots {
  display : block;
}

.slide-one-item .owl-dots .owl-dot {
  display : inline-block;
}

.slide-one-item .owl-dots .owl-dot > span {
  display       : inline-block;
  width         : 7px;
  height        : 7px;
  margin-right  : 5px;
  margin-bottom : 5px;
  border-radius : 50%;
  background    : #ccc;
}

.slide-one-item .owl-dots .owl-dot.active > span {
  background : #1C63FB;
}
